<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>Hello - Freeluna</title>
    <meta name="description" content="Hello Freeluna hiring exercise">
    <meta name="author" content="Matteo Folin">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1 class="title">Iscriviti a Freeluna</h1>
      <div id="flash-msg"></div>
      <%= yield %>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/messages_it.js"></script>
    <script src="/js/validation.js"></script>
  </body>
</html>